<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Media Converter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE17FB5216482035002DCA9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1D0644168EF60100143A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE3032B1164EAB800095B6DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA8CE8E13227D2100C10516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA8CEC913227D2400C10516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA8CF3F13227D3C00C10516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FECA02311566BC4900970EDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
